header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 800;
  color: #111;
  text-decoration: none;
  letter-spacing: -0.3px;
  &:hover {
    color: #f97316;
  }
}

nav ul {
  list-style: none;
  display: flex;
  gap: 14px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  color: #444;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.2s;

  &:hover {
    background: #f5f5f5;
    color: #000;
  }
}
